<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <style>
    .header__text {
      font-size: 70px;
    }

    .body__text {
      font-size: 50px;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <template>

          <v-img src="sam-mcghee-KieCLNzKoBo-unsplash.jpg" height="505"
            gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)">

            <v-container>
              <h1 class="header__text mt-15 white--text">Search your Movie <br>
                here!</h1>
            </v-container>

          </v-img>

          <v-container class="mt-n16">
            <v-card class="align-content-center" color="indigo lighten-1">
              <v-toolbar dark color="indigo lighten-1">
                <v-toolbar-title class="pr-2">Search</v-toolbar-title>
                <v-text-field v-model="kataKunci" label="Type Something" flat solo-inverted hide-details></v-text-field>
              </v-toolbar>
            </v-card>
          </v-container>

          <div v-if="kataKunci == ''">
            <v-container>
              <v-row class="mt-15">
                <v-col cols="6" sm="6">
                  <h1 class="body__text ml-15">Waiting for your <br> <span class="primary--text">Type!</span>
                  </h1>
                </v-col>
                <v-col cols="6" sm="6">
                  <v-img src="undraw_font_kwpk.svg" width="400">
                </v-col>
              </v-row>
            </v-container>
          </div>

          <v-container>
            <v-row>
              <v-col cols="12" sm="12">
                <div v-if="kataKunci == ''"></div>
                <div v-else="">
                  <h3>Result for : {{ kataKunci }} </h3>
                </div>
              </v-col>
              <v-col v-for="(hasil, i) in daftarHasil" :key="i" cols="4" sm="4">
                <v-card class="mx-auto my-2" max-width="400">
                  <v-img class="white--text align-end" height="200px" :src="hasil.Poster">
                    <v-card-title> {{ hasil.Title }} </v-card-title>
                  </v-img>

                  <v-card-subtitle class="pb-0">Number 10</v-card-subtitle>

                  <v-card-text class="text--primary">
                    <div>Whitehaven Beach</div>

                    <div>Whitsunday Island, Whitsunday Islands</div>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn color="orange" text>
                      Share
                    </v-btn>

                    <v-btn color="orange" text>
                      Explore
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>

          <v-footer dark padless class="mt-15">
            <v-card flat tile class="indigo lighten-1 white--text text-center">
              <v-card-text>
                <v-btn v-for="icon in icons" :key="icon" class="mx-4 white--text" icon>
                  <v-icon size="24px">{{ icon }}</v-icon>
                </v-btn>
              </v-card-text>

              <v-card-text class="white--text pt-0">
                Phasellus feugiat arcu sapien, et iaculis ipsum elementum
                sit amet. Mauris cursus commodo interdum. Praesent ut
                risus eget metus luctus accumsan id ultrices nunc. Sed at
                orci sed massa consectetur dignissim a sit amet dui. Duis
                commodo vitae velit et faucibus. Morbi vehicula lacinia
                malesuada. Nulla placerat augue vel ipsum ultrices, cursus
                iaculis dui sollicitudin. Vestibulum eu ipsum vel diam
                elementum tempor vel ut orci. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur
                ridiculus mus.
              </v-card-text>

              <v-divider></v-divider>

              <v-card-text class="white--text">
                {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
              </v-card-text>
            </v-card>
          </v-footer>
        </template>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="index.js"></script>
  <script>
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: {
        items: [{
            title: "Home",
            icon: "dashboard"
          },
          {
            title: "About",
            icon: "question_answer"
          },
          {
            src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
          },
          {
            src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
          },
          {
            src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
          },
          {
            src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
          },
        ],
        icons: [
          "mdi-facebook",
          "mdi-twitter",
          "mdi-linkedin",
          "mdi-instagram",
        ],
        kataKunci: "",
        daftarHasil: [],
        drawer: false,
        // Title: '',
        // Year: '',
        // Type: '',
        // Poster: '',
      },
      watch: {
        // kataKunci(kataKunci) {
        // console.log('test');
        // }, sama aja ama yang dibawah
        kataKunci: pDebounce(async function tanganiKataKunci(kataKunci) {
          if (kataKunci && kataKunci.length >= 3) {
            await this.cari(kataKunci);
            console.log(kataKunci);
          } else {
            this.bersihkanHasilDanPaginasi();
          }
        }, 250),
      },
      methods: {
        async cari(kataKunci) {
          try {
            const respon = await fetch(
                `http://www.omdbapi.com/?apikey=448acf88&s=${kataKunci}`
              )
              .then((respon) => respon.json())
              .then((respon) => {
                this.daftarHasil = respon.Search;
              });

            // this.Title = respon.Title
            // this.Year = respon.Year
            // this.Type = respon.Type
            // this.Poster = respon.Poster
          } catch (error) {}
        },
        bersihkan() {
          this.kataKunci = "";
          this.bersihkanHasilDanPaginasi();
        },
        bersihkanHasilDanPaginasi() {
          this.daftarHasil = [];
        },
      },
    });
  </script>
</body>

</html>